Source: ralt-utils
Maintainer: Florian Margaine <florian@margaine.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: ralt-utils
Architecture: any
Depends: ${misc:Depends}, vagrant, software-properties-common, git, emacs24, tmux, gnupg, iojs, unzip, lxc, tree, isync, maildir-utils, msmtp, mu4e, html2text, gnutls-bin, aspell-fr, gpgsm, cloc, exuberant-ctags
Description: various utilities
